<h1>Flug suchen!</h1>

<form [ng-form-model]="filter">
	<div class="form-group">
		<label>Von</label>
		<input ng-control="von" class="form-control">
	
		<div *ng-if="!filter.controls.von.valid">
			Fehler!!!
		</div>
		
		<div *ng-if="filter.controls.von.hasError('required')">
			Pflichtfeld!!!
		</div>

		<div *ng-if="filter.controls.von.hasError('ort')">
			Ort!!!
		</div>

		<div *ng-if="filter.controls.von.hasError('minlength')">
			Zu kurz!!!
		</div>
	
	</div>
	
	<div class="form-group">
		<label>Nach</label>
		<input ng-control="nach" class="form-control">
	</div>
	
	<div class="form-group">
		<input type="button" 
				class="btn btn-default" 
				value="Suchen!" 
				[disabled]="!filter.valid"
				(click)="suchen()">	
	</div>
</form>
<table class="table table-striped" *ng-if="fluege.length > 0">

	<tr>
		<th>Id</th>
		<th>Datum</th>
		<th>Von</th>
		<th>Nach</th>
		<th>Aktionen</th>
	</tr>
	
	<tr *ng-for='#f of fluege' [class.active]='f == selectedFlug' >
		<td>{{f.id}}</td>
		<td>{{f.datum.substr(0,10) }}</td>
		<td>{{f.abflugort | ort:'short' }}</td>
		<td>{{f.zielort | ort:'long'}}</td>
		<td>
			<a href="javascript:void(0)"
				(click)="selectFlug(f)">Auswählen</a> 
		</td>
	</tr>
	
</table>